#mainRingA {
  x: 3;
  y: 3;
  width: 330;
  height: 330;
  arc-width: 30;
  start-angle: 0;
  sweep-angle: 360;
}

#mainRingB {
  x: 18;
  y: 18;
  width: 300;
  height: 300;
  arc-width: 30;
  start-angle: 0;
  sweep-angle: 360;
}

#mainRingC {
  x: 33;
  y: 33;
  width: 270;
  height: 270;
  arc-width: 30;
  start-angle: 0;
  sweep-angle: 360;
}

#nightArcA {
  x: 3;
  y: 3;
  width: 330;
  height: 330;
  arc-width: 30;
}

#nightArcB {
  x: 18;
  y: 18;
  width: 300;
  height: 300;
  arc-width: 30;
}

#nightArcC {
  x: 33;
  y: 33;
  width: 270;
  height: 270;
  arc-width: 30;
}

#nightArcMonochromeFill {
  visibility: hidden;
}

#workArcA {
  x: 3;
  y: 3;
  width: 330;
  height: 330;
  arc-width: 30;
  visibility: hidden;
}

#workArcB {
  x: 18;
  y: 18;
  width: 300;
  height: 300;
  arc-width: 30;
  visibility: hidden;
}

#workArcC {
  x: 33;
  y: 33;
  width: 270;
  height: 270;
  arc-width: 30;
  visibility: hidden;
}

#workArcColorFill {
  visibility: hidden;
}

#workArcHashFill {
  visibility: hidden;
}

#workArcHashFill > rect {
  x: 0;
  width: 336;
  height: 8;
}

#workArcMonochromeFill {
  visibility: hidden;
}

#secondaryDisplayA {
  fill: white;
  text-length: 32;
  font-size: 30;
  font-family: System-Regular;
  text-anchor: middle;
  x: 168;
  y: 125;
}

#time {
  fill: white;
  text-length: 8;
  font-size: 60;
  font-family: System-Bold;
  text-anchor: middle;
  x: 168;
  y: 190;
}

#secondaryDisplayB {
  fill: white;
  text-length: 32;
  font-size: 30;
  font-family: System-Regular;
  text-anchor: middle;
  x: 168;
  y: 235;
}

#maxTempTransform {
  transform: rotate(-45);
}

#maxTemp {
  text-length: 12;
  font-size: 25;
  font-family: System-Bold;
  text-anchor: middle;
  x: 0;
  y: 66;
}

#minTempTransform {
  transform: rotate(45);
}

#minTemp {
  text-length: 12;
  font-size: 25;
  font-family: System-Bold;
  text-anchor: middle;
  x: 236;
  y: -172;
}

#rainVolumeTransform {
  transform: rotate(45);
}

#rainVolume {
  text-length: 12;
  font-size: 25;
  font-family: System-Bold;
  text-anchor: middle;
  x: 236;
  y: 188;
}

#rainChanceTransform {
  transform: rotate(-45);
}

#rainChance {
  text-length: 12;
  font-size: 25;
  font-family: System-Bold;
  text-anchor: middle;
  x: 0;
  y: 426;
}

#graphHourMarkers > g > line {
  x1: 0;
  y1: 165;
  x2: 0;
  y2: 165;
  stroke-width: 1;
  stroke-linecap: butt;
}

#graphHourMarkers.none > g > line {
  visibility: hidden;
}

#graphHourMarkers.short > g > line {
  y2: 155;
  fill: black;
}

#graphHourMarkers.long > g > line {
  y2: 105;
  fill: black;
}

#graphHourMarkers.dots > g > line {
  stroke-linecap: round;
  stroke-width: 4;
  fill: white;
  y1: 135;
  y2: 134;
}

#dayHand {
  fill: white;
  stroke-width: 4;
  stroke-linecap: butt;
}

#graphLineTransform > line {
  stroke-width: 2;
  stroke-linecap: butt;
}

#debugView {
  display: none;
}

#debugView > rect {
  x: 0;
  y: 0;
  width: 336;
  height: 336;
  fill: black;
  opacity: 0.8;
}

#debugView > text {
  text-length: 50;
  font-size: 25;
  font-family: System-Bold;
  text-anchor: left;
  x: 50;
  fill: white;
}

#currentMemory {
  y: 65;
}

#totalMemory {
  y: 100;
}

#peakMemory {
  y: 135;
}

#memoryPressure {
  y: 170;
}

#weatherOutOfDate {
  y: 240;
}

#clickMask {
  x: 0;
  y: 0;
  width: 336;
  height: 336;
  opacity: 0;
}

/* Theme "punchy" */
#root.punchy #mainRingColorFill { fill: #440088; }
#root.punchy #nightArcColorFill { fill: #220044; }
#root.punchy #workArcColorFill { visibility: visible; fill: #6600cc; }
#root.punchy #maxTemp { fill: #ff7700; }
#root.punchy #minTemp { fill: #ff7700; }
#root.punchy #graphLineTransform > line { fill: #ff7700; }
#root.punchy #rainBarsA > arc { fill: #00ccff; }
#root.punchy #rainBarsB > arc { fill: #00ccff; }
#root.punchy #rainVolume { fill: #00ccff; }
#root.punchy #rainChance { fill: #00ccff; }

/* Theme "grayscale" */
#root.grayscale #mainRingColorFill { fill: #444444; }
#root.grayscale #nightArcColorFill { fill: #222222; }
#root.grayscale #workArcColorFill { visibility: visible; fill: #666666; }
#root.grayscale #maxTemp { fill: white; }
#root.grayscale #minTemp { fill: white; }
#root.grayscale #graphLineTransform > line { fill: white; }
#root.grayscale #rainBarsA > arc { fill: #aaaaaa; }
#root.grayscale #rainBarsB > arc { fill: #aaaaaa; }
#root.grayscale #rainVolume { fill: white; }
#root.grayscale #rainChance { fill: white; }

/* Theme "Primary" */
#root.primary #mainRingA { arc-width: 2; }
#root.primary #mainRingB { visibility: hidden; }
#root.primary #mainRingC {
  arc-width: 2;
  x: 61;
  y: 61;
  width: 214;
  height: 214; }
#root.primary #mainRingColorFill { fill: #00ff00; }
#root.primary #nightArcA {
  x: 5;
  y: 5;
  width: 326;
  height: 326;
  arc-width: 28; }
#root.primary #nightArcC {
  width: 270;
  height: 270;
  arc-width: 28; }
#root.primary #nightArcColorFill { fill: #004400; }
#root.primary #workArcA {
  x: 5;
  y: 5;
  width: 326;
  height: 326;
  arc-width: 28; }
#root.primary #workArcC {
  width: 270;
  height: 270;
  arc-width: 28; }
#root.primary #workArcColorFill { visibility: visible; fill: #008800; }
#root.primary #maxTemp { fill: red; }
#root.primary #minTemp { fill: red; }
#root.primary #graphLineTransform > line { fill: red; }
#root.primary #rainBarsA > arc { fill: #0044ff; }
#root.primary #rainBarsB > arc { fill: #0044ff; }
#root.primary #rainVolume { fill: #0044ff; }
#root.primary #rainChance { fill: #0044ff; }
#root.primary #graphHourMarkers > g > line {
  fill: #00ff00;
  opacity: 1;
}

/* Theme "Monochrome" */
#root.monochrome #mainRingA { arc-width: 2; }
#root.monochrome #mainRingB { visibility: hidden; }
#root.monochrome #mainRingC {
  arc-width: 2;
  x: 61;
  y: 61;
  width: 214;
  height: 214; }
#root.monochrome #mainRingColorFill { fill: white; }
#root.monochrome #nightArcA {
  x: 5;
  y: 5;
  width: 326;
  height: 326;
  arc-width: 28; }
#root.monochrome #nightArcC {
  width: 270;
  height: 270;
  arc-width: 28; }
#root.monochrome #nightArcColorFill { visibility: hidden; }
#root.monochrome #nightArcMonochromeFill { visibility: visible; }
#root.monochrome #workArcA {
  x: 5;
  y: 5;
  width: 326;
  height: 326;
  arc-width: 28; }
#root.monochrome #workArcC {
  width: 270;
  height: 270;
  arc-width: 28; }
#root.monochrome #workArcMonochromeFill { visibility: visible; }
#root.monochrome #maxTemp { fill: white; }
#root.monochrome #minTemp { fill: white; }
#root.monochrome #graphLineTransform > line { fill: white; }
#root.monochrome #rainBarsA > arc { fill: white; }
#root.monochrome #rainBarsB > arc { fill: white; }
#root.monochrome #rainVolume { fill: white; }
#root.monochrome #rainChance { fill: white; }
#root.monochrome #graphHourMarkers > g > line {
  fill: white;
  opacity: 1;
}

/* Theme "Coral" */
#root.coral #mainRingColorFill { fill: #cc00cc; }
#root.coral #nightArcColorFill { fill: #aa00aa; }
#root.coral #workArcColorFill { visibility: visible; fill: #ff00ff; }
#root.coral #maxTemp { fill: #ffee00; }
#root.coral #minTemp { fill: #ffee00; }
#root.coral #graphLineTransform > line { fill: #ffee00; }
#root.coral #rainBarsA > arc { fill: #00ffcc; }
#root.coral #rainBarsB > arc { fill: #00ffcc; }
#root.coral #rainVolume { fill: #00ffcc; }
#root.coral #rainChance { fill: #00ffcc; }