#background {
  x: 0;
  y: 0;
  width: 336;
  height: 336;
  gradient-type: radial;
  gradient-x1: 168;
  gradient-y1: 168;
  gradient-x2: 336;
  gradient-y2: 336;
}

#mainRingA {
  x: 3;
  y: 3;
  width: 330;
  height: 330;
  arc-width: 30;
  start-angle: 0;
  sweep-angle: 360;
}

#mainRingB {
  x: 33;
  y: 33;
  width: 270;
  height: 270;
  arc-width: 30;
  start-angle: 0;
  sweep-angle: 360;
}

#nightArcA {
  x: 3;
  y: 3;
  width: 330;
  height: 330;
  arc-width: 30;
}

#nightArcB {
  x: 33;
  y: 33;
  width: 270;
  height: 270;
  arc-width: 30;
}

#workArcA {
  x: 3;
  y: 3;
  width: 330;
  height: 330;
  arc-width: 30;
}

#workArcB {
  x: 33;
  y: 33;
  width: 270;
  height: 270;
  arc-width: 30;
}

#secondaryDisplayA {
  fill: white;
  text-length: 8;
  font-size: 30;
  font-family: System-Regular;
  text-anchor: middle;
  x: 168;
  y: 125;
}

#time {
  fill: white;
  text-length: 8;
  font-size: 60;
  font-family: System-Bold;
  text-anchor: middle;
  x: 168;
  y: 190;
}

#secondaryDisplayB {
  fill: white;
  text-length: 12;
  font-size: 30;
  font-family: System-Regular;
  text-anchor: middle;
  x: 168;
  y: 235;
}

#maxTempTransform {
  transform: rotate(-45);
}

#maxTemp {
  fill: #ff7700;
  text-length: 12;
  font-size: 25;
  font-family: System-Bold;
  text-anchor: middle;
  x: 0;
  y: 66;
}

#minTempTransform {
  transform: rotate(45);
}

#minTemp {
  text-length: 12;
  font-size: 25;
  font-family: System-Bold;
  text-anchor: middle;
  x: 236;
  y: -172;
}

#graphHourMarkers > g > line {
  x1: 0;
  y1: 155;
  x2: 0;
  y2: 165;
  fill: white;
  opacity: .5;
  stroke-width: 1;
  stroke-linecap: butt;
}

#dayHand {
  fill: white;
  stroke-width: 4;
  stroke-linecap: butt;
}

#graphLineTransform > line {
  stroke-width: 2;
  stroke-linecap: butt;
}

/* Theme "Punchy" */
#root.punchy #background {
  gradient-color1: #440088;
  gradient-color2: black;
}

#root.punchy #mainRingA {
  fill: #440088;
}

#root.punchy #mainRingB {
  fill: #440088;
}

#root.punchy #nightArcA {
  fill: #220044;
}

#root.punchy #nightArcB {
  fill: #220044;
}

#root.punchy #workArcA {
  fill: #6600cc;
}

#root.punchy #workArcB {
  fill: #6600cc;
}

#root.punchy #maxTemp {
  fill: #ff7700;
}

#root.punchy #minTemp {
  fill: #ff7700;
}

#root.punchy #rainBarsA > arc {
  fill: #00ccff;
}

#root.punchy #rainBarsB > arc {
  fill: #00ccff;
}

#root.punchy #graphLineTransform > line {
  fill: #ff7700;
}

/* Theme "Greyscale" */
#root.greyscale #background {
  gradient-color1: #666666;
  gradient-color2: black;
}

#root.greyscale #mainRingA {
  fill: #444444;
}

#root.greyscale #mainRingB {
  fill: #444444;
}

#root.greyscale #nightArcA {
  fill: #222222;
}

#root.greyscale #nightArcB {
  fill: #222222;
}

#root.greyscale #workArcA {
  fill: #666666;
}

#root.greyscale #workArcB {
  fill: #666666;
}

#root.greyscale #maxTemp {
  fill: white;
}

#root.greyscale #minTemp {
  fill: white;
}

#root.greyscale #rainBarsA > arc {
  fill: #aaaaaa;
}

#root.greyscale #rainBarsB > arc {
  fill: #aaaaaa;
}

#root.greyscale #graphLineTransform > line {
  fill: white;
}